<!DOCTYPE html>
<html>
<head>
	<title>Typewright</title>
	<%= csrf_meta_tag %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <!-- script src="/javascripts/application.js"></script -->
</head>
<body>

<%= yield %>

</body>
</html>
